<a href="https://colab.research.google.com/github/kunalburgul/MLDS_Problems/blob/main/recommender_system/tmdb_mrs/tmdb_mrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [19]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [20]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading tmdb-movie-metadata.zip to /content
  0% 0.00/8.89M [00:00<?, ?B/s]
100% 8.89M/8.89M [00:00<00:00, 214MB/s]

In [21]:
import zipfile
zip_ref = zipfile.ZipFile('tmdb-movie-metadata.zip', 'r')
zip_ref.extractall('/content')
zip_ref.close()

In [22]:
import numpy as np # linear algebra
import pandas as pd

In [23]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [24]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [25]:
movies.shape

(4803, 20)

In [26]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
movies = movies.merge(credits,on='title')

In [28]:
movies.shape

(4809, 23)

In [29]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."



Here first-of-all there are lot of features present in this data and as per our way of approach towards building the movie recommendation system only few feature may be helpful, so let's look what all features we are considering.

---
***Features that we are considering*** 

- **genres** -> Some people may like different kind of movie like thriller, horrer or sci-phy.

- **id** -> id may be useful for featching some useful information about a cretain movie. 

- **keywords** -> Most important part 

- **overview** -> As we are focusing on the content recommendation so the overview has lot of useful info that may help us.

- **cast and crew** -> Some people may be intrested to watch the movie based on the cast and crew so we may take this into the consideration.



***Removing the non-useful features*** 

- **budget** ->  Budget may not looks like a useful feature people may not the like movies based on the budget value.

- **homepage** -> homepage the movie won't matter

- **original_language** -> As this data is highly imbalanced here we donot prefer to include this feature.

- **original_title** -> We have feature title so original title won't matters

- **popularity** -> This could be an important factor but this may not fit as per-our approch.

- **production_comapny and production_countries** -> dosen't matters

- **release-date(not sure)** -> This may look like a good feature but we have a minimalistic approch so here we are not considering this feature.

- **revenue** -> dosen't matters

In [30]:
# Considering the useful features for our work
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [31]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [32]:
# Let's check if there are any missing values in the data
movies.isna().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [33]:
# Checking for the duplicate data
movies.duplicated().sum()

0

- Further, we want to create only the three columns as movie_id, title and tags.

- Here the 3rd column contains the merged data from all other columns.

- **tage** -> Comined Features of (overiew, genres, keywords, cast and crew)

In [34]:
import ast

In [35]:
# Helper function for the genres and keywords
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [36]:
movies.dropna(inplace=True)

In [37]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [38]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [40]:
# Helper function for the cast of actors and actress from the movie
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [41]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [42]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [43]:
# Helper function for the crew features to fetch the directors name
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [44]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [45]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
4583,23827,Paranormal Activity,"After a young, middle class couple moves into ...","[Horror, Mystery]","[haunting, psychic, entity, demonic possession...","[Katie Featherston, Micah Sloat, Mark Fredrichs]",[Oren Peli]
3230,62676,Limbo,Unconventional narrative about the interaction...,"[Adventure, Drama, Thriller]",[],"[Mary Elizabeth Mastrantonio, David Strathairn...",[John Sayles]
285,27581,The Other Guys,NYPD detectives Christopher Danson (Johnson) a...,"[Action, Comedy, Crime]","[narration, ceo, fire truck, shot in the shoul...","[Will Ferrell, Mark Wahlberg, Eva Mendes]",[Adam McKay]
467,9822,Mighty Joe Young,"As a child living in Africa, Jill Young saw he...","[Action, Adventure, Family, Fantasy]","[gorilla, dying and death]","[Charlize Theron, Rade Serbedzija, Bill Paxton]",[Ron Underwood]
3427,25113,The Four Seasons,Three middle-aged wealthy couples take vacatio...,"[Comedy, Drama, Romance]",[],"[Alan Alda, Carol Burnett, Len Cariou]",[Alan Alda]

In [46]:
# Removing the spaces in all the lists of the features
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [47]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [48]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [49]:
# Converting the overview column to the list so that is could look similar to the other columns
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [50]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [51]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
#new.head()

In [52]:
# Finally the tags features is observed as 
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [53]:
#Lets look at one the tags 
new['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [54]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [55]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [56]:
new['tags'] = new['tags'].apply(stem)

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [58]:
vectors = cv.fit_transform(new['tags']).toarray()

In [59]:
vectors.shape

(4806, 5000)

In [61]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [62]:
cv.get_feature_names(), len(cv.get_feature_names() )

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(['000',
  '007',
  '10',
  '100',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '17th',
  '18',
  '18th',
  '18thcenturi',
  '19',
  '1910',
  '1920',
  '1930',
  '1940',
  '1944',
  '1950',
  '1950s',
  '1960',
  '1960s',
  '1970',
  '1970s',
  '1971',
  '1974',
  '1976',
  '1980',
  '1985',
  '1990',
  '1999',
  '19th',
  '19thcenturi',
  '20',
  '200',
  '2003',
  '2009',
  '20th',
  '21st',
  '23',
  '24',
  '25',
  '30',
  '300',
  '3d',
  '40',
  '50',
  '500',
  '60',
  '70',
  '80',
  'aaron',
  'aaroneckhart',
  'abandon',
  'abduct',
  'abigailbreslin',
  'abil',
  'abl',
  'aboard',
  'abov',
  'abus',
  'academ',
  'academi',
  'accept',
  'access',
  'accid',
  'accident',
  'acclaim',
  'accompani',
  'accomplish',
  'account',
  'accus',
  'ace',
  'achiev',
  'acquaint',
  'act',
  'action',
  'actionhero',
  'activ',
  'activist',
  'activities',
  'actor',
  'actress',
  'actual',
  'ad',
  'adam',
  'adamsandl',
  'adamshankman',
  'adapt',
  'add',
  'addict',
  'adjust',
  'admir',
  'admit',
  'adolesc',
  'adopt',
  'ador',
  'adrienbrodi',
  'adult',
  'adultanim',
  'adulteri',
  'adulthood',
  'advanc',
  'adventur',
  'adventure',
  'adventures',
  'advertis',
  'advic',
  'advis',
  'affair',
  'affect',
  'afghanistan',
  'africa',
  'african',
  'africanamerican',
  'aftercreditssting',
  'afterlif',
  'aftermath',
  'ag',
  'age',
  'agediffer',
  'agenc',
  'agency',
  'agenda',
  'agent',
  'agents',
  'aggress',
  'ago',
  'agre',
  'ahead',
  'aid',
  'aidanquinn',
  'ail',
  'aim',
  'air',
  'airplan',
  'airplanecrash',
  'airport',
  'aka',
  'al',
  'alabama',
  'alan',
  'alaska',
  'albert',
  'alcatraz',
  'alcohol',
  'alecbaldwin',
  'alex',
  'alexkendrick',
  'alfredhitchcock',
  'alfredmolina',
  'ali',
  'alic',
  'alice',
  'alien',
  'alieninvas',
  'alienlife',
  'alienplanet',
  'aliens',
  'alik',
  'aliv',
  'alive',
  'allen',
  'alli',
  'allianc',
  'allow',
  'alon',
  'alongsid',
  'alpacino',
  'alpha',
  'alreadi',
  'alter',
  'altern',
  'alway',
  'alyssa',
  'alzheimer',
  'amanda',
  'amandapeet',
  'amandaseyfri',
  'amateur',
  'amaz',
  'amazon',
  'ambassador',
  'ambit',
  'ambiti',
  'ambul',
  'ambush',
  'america',
  'american',
  'americanabroad',
  'americancivilwar',
  'americanfootbal',
  'americanfootballplay',
  'amid',
  'amidst',
  'amnesia',
  'amp',
  'amsterdam',
  'amus',
  'amusementpark',
  'amy',
  'amyadam',
  'amysmart',
  'ana',
  'anakin',
  'analyst',
  'anarchiccomedi',
  'ancient',
  'ancientrom',
  'ancientworld',
  'anderson',
  'andi',
  'andiemacdowel',
  'andrew',
  'android',
  'andy',
  'andygarcía',
  'angel',
  'angela',
  'angelabassett',
  'angeles',
  'angelinajoli',
  'anger',
  'angle',
  'angri',
  'ani',
  'anim',
  'animalattack',
  'animalhorror',
  'animals',
  'anjelicahuston',
  'ann',
  'anna',
  'annafari',
  'annakendrick',
  'anne',
  'annehathaway',
  'annemoss',
  'annetteben',
  'anni',
  'annie',
  'anniversari',
  'announc',
  'annual',
  'anonym',
  'anoth',
  'answer',
  'ant',
  'antholog',
  'anthoni',
  'anthonyanderson',
  'anthonyhopkin',
  'anthonymacki',
  'anthropomorph',
  'anti',
  'antic',
  'antihero',
  'antiqu',
  'antoinefuqua',
  'antoniobandera',
  'antonyelchin',
  'anyon',
  'anyth',
  'apart',
  'apartheid',
  'apartment',
  'ape',
  'apocalyps',
  'apocalypse',
  'apocalypt',
  'appar',
  'appear',
  'appl',
  'apple',
  'appoint',
  'appreci',
  'apprentic',
  'approach',
  'april',
  'aquarium',
  'arab',
  'arch',
  'archaeologist',
  'archeolog',
  'archer',
  'architect',
  'arctic',
  'area',
  'aren',
  'arena',
  'argument',
  'aris',
  'aristocrat',
  'arm',
  'armi',
  'armor',
  'armsdeal',
  'army',
  'arnold',
  'arnoldschwarzenegg',
  'arrang',
  'arrangedmarriag',
  'arrest',
  'arriv',
  'arrog',
  'art',
  'arthur',
  'artifact',
  'artifici',
  'artificialintellig',
  'artist',
  'ash',
  'ashley',
  'ashleyjudd',
  'ashtonkutch',
  'asia',
  'asian',
  'asid',
  'ask',
  'aspect',
  'aspir',
  'assassin',
  'assault',
  'assembl',
  'assign',
  'assist',
  'assistant',
  'associ',
  'assum',
  'asteroid',
  'astronaut',
  'asylum',
  'atheist',
  'athlet',
  'atom',
  'atomicbomb',
  'attack',
  'attacks',
  'attempt',
  'attempttoescap',
  'attend',
  'attent',
  'attic',
  'attitud',
  'attorney',
  'attract',
  'auction',
  'audienc',
  'audit',
  'august',
  'aunt',
  'austin',
  'australia',
  'australian',
  'author',
  'autism',
  'auto',
  'automobilerac',
  'aveng',
  'averag',
  'avoid',
  'await',
  'awak',
  'awaken',
  'award',
  'away',
  'awkward',
  'awri',
  'awry',
  'ax',
  'babe',
  'babi',
  'baby',
  'bachelor',
  'backdrop',
  'background',
  'backpack',
  'bad',
  'bag',
  'bahama',
  'bail',
  'balanc',
  'ball',
  'ballet',
  'balloon',
  'ban',
  'band',
  'bandit',
  'bangkok',
  'banish',
  'bank',
  'banker',
  'bankrobb',
  'bankrobberi',
  'bar',
  'barbrastreisand',
  'bare',
  'bargain',
  'barn',
  'barney',
  'baron',
  'barri',
  'barrylevinson',
  'barrysonnenfeld',
  'bas',
  'base',
  'basebal',
  'basedoncomicbook',
  'basedongraphicnovel',
  'basedonnovel',
  'basedonplay',
  'basedonstagemus',
  'basedontrueev',
  'basedontruestori',
  'basedontvseri',
  'basedonvideogam',
  'basedonyoungadultnovel',
  'basement',
  'basketbal',
  'bat',
  'batman',
  'battl',
  'battle',
  'battlefield',
  'bay',
  'beach',
  'beam',
  'bear',
  'beard',
  'beast',
  'beat',
  'beauti',
  'beautiful',
  'beautifulwoman',
  'beauty',
  'becam',
  'becaus',
  'becki',
  'becom',
  'becominganadult',
  'bed',
  'bedroom',
  'beer',
  'befor',
  'befriend',
  'began',
  'begin',
  'begins',
  'behavior',
  'belief',
  'believ',
  'bell',
  'bella',
  'belong',
  'belov',
  'ben',
  'benaffleck',
  'bend',
  'beneath',
  'benefit',
  'benfost',
  'beniciodeltoro',
  'benjamin',
  'benjaminbratt',
  'benkingsley',
  'bennett',
  'benstil',
  'bent',
  'berlin',
  'best',
  'bestfriend',
  'bestfriendsinlov',
  'bet',
  'beth',
  'betray',
  'bettemidl',
  'better',
  'betti',
  'beverli',
  'bibl',
  'bid',
  'big',
  'bigger',
  'biggest',
  'bike',
  'biker',
  'bikini',
  'billhad',
  'billi',
  'billionair',
  'billmurray',
  'billnighi',
  'billpaxton',
  'billpullman',
  'billybobthornton',
  'billycrudup',
  'billycryst',
  'biographi',
  'biolog',
  'bird',
  'birth',
  'birthday',
  'bisexu',
  'bishop',
  'bit',
  'bite',
  'bitter',
  'bizarr',
  'black',
  'blackmag',
  'blackmail',
  'blackpeopl',
  'blacksmith',
  'blade',
  'blame',
  'blend',
  'blind',
  'bliss',
  'blizzard',
  'block',
  'blond',
  'blood',
  'bloodi',
  'bloodsplatt',
  'bloodthirsti',
  'blow',
  'blue',
  'board',
  'boardingschool',
  'boat',
  'bob',
  'bobbi',
  'bobbyfarrelli',
  'bobhoskin',
  'bodi',
  'body',
  'bodyguard',
  'bold',
  'bollywood',
  'bomb',
  'bond',
  'bone',
  'book',
  'border',
  'bore',
  'boredom',
  'born',
  'boss',
  'boston',
  'botch',
  'bound',
  'boundari',
  'bounti',
  'bountyhunt',
  'box',
  'boxer',
  'boy',
  'boyfriend',
  'boys',
  'bradleycoop',
  'bradpitt',
  'brain',
  'brand',
  'brandon',
  'brave',
  'braveri',
  'brazil',
  'brazilian',
  'break',
  'breakdown',
  'breakup',
  'breast',
  'breath',
  'breed',
  'brendanfras',
  'brendangleeson',
  'brent',
  'brettratn',
  'brian',
  'briandepalma',
  'bride',
  'bridesmaid',
  'bridg',
  'brief',
  'brien',
  'bright',
  'brilliant',
  'bring',
  'brink',
  'britain',
  'british',
  'britishsecretservic',
  'brittanymurphi',
  'broadcast',
  'broadway',
  'broke',
  'broken',
  'broker',
  'bronx',
  'brook',
  'brooklyn',
  'broom',
  'brothel',
  'brother',
  'brotherbrotherrelationship',
  'brothers',
  'brothersisterrelationship',
  'brought',
  'brown',
  'bruce',
  'brucegreenwood',
  'brucewilli',
  'brutal',
  'bryansing',
  'bu',
  'buck',
  'bud',
  'buddi',
  'buddy',
  'buddycomedi',
  'buddycop',
  'budget',
  'build',
  'building',
  'built',
  'bullet',
  'bulli',
  'bumbl',
  'bunch',
  'bunker',
  'bunni',
  'burglar',
  'buri',
  'burn',
  'bush',
  'busi',
  'business',
  'businessman',
  'bust',
  'butcher',
  'butler',
  'butt',
  'button',
  'buy',
  'buzz',
  'cabin',
  'caesar',
  'cage',
  'cairo',
  'cal',
  'california',
  'calvin',
  'camcord',
  'came',
  'camera',
  'cameraman',
  'camerondiaz',
  'camp',
  'campaign',
  'campbell',
  'campu',
  'canada',
  'canadian',
  'cancer',
  'candi',
  'candid',
  'canin',
  'cannib',
  'canuxploit',
  'capabl',
  'caper',
  'capit',
  'capt',
  'captain',
  'captiv',
  'captur',
  'capture',
  'car',
  'caraccid',
  'carchas',
  'carcrash',
  'card',
  'care',
  'career',
  'carefre',
  'caretak',
  'careymulligan',
  'caribbean',
  'carjourney',
  'carl',
  'carlagugino',
  'carmen',
  'carol',
  'carolina',
  'carrac',
  'carri',
  'carrie',
  'cartel',
  'carter',
  'cartoon',
  'caryelw',
  'case',
  'caseyaffleck',
  'cash',
  'casino',
  'cast',
  'castl',
  'cat',
  'cataclysm',
  'catastroph',
  'catch',
  'cateblanchett',
  'catherinedeneuv',
  'catherinekeen',
  'catherinezeta',
  'cathol',
  'catholic',
  'cattl',
  'caught',
  'caus',
  'cavalri',
  'cave',
  'cavemen',
  'celebr',
  'celebration',
  'cell',
  'cellphon',
  'cemeteri',
  'center',
  'centr',
  'central',
  'centuri',
  'centuries',
  'century',
  'ceo',
  'certain',
  'chad',
  'chain',
  'chainsaw',
  'challeng',
  'chamber',
  'champion',
  'championship',
  'chanc',
  'chance',
  'chang',
  'change',
  'changed',
  'changes',
  'channingtatum',
  'chao',
  'chaos',
  'chaotic',
  'chapter',
  'charact',
  'character',
  'characters',
  'charg',
  'charismat',
  'charl',
  'charli',
  'charlie',
  'charliesheen',
  'charlizetheron',
  'charm',
  'chart',
  'chase',
  'chauffeur',
  'chazzpalminteri',
  'cheat',
  'check',
  'cheerlead',
  'chef',
  'chemic',
  'cher',
  'chevychas',
  'chicago',
  'chicken',
  'chief',
  'child',
  'childabus',
  'childhero',
  'childhood',
  'childprodigi',
  'children',
  'chill',
  'chimp',
  'china',
  'chines',
  'chip',
  'chipmunk',
  'chiwetelejiofor',
  'chloe',
  'chloëgracemoretz',
  'chloësevigni',
  'chocol',
  'choic',
  'choice',
  'choos',
  'chosen',
  'chowyun',
  'chri',
  'chriscolumbu',
  'chriscoop',
  'chrisevan',
  'chrishemsworth',
  'chrisklein',
  'chrispin',
  'chrisrock',
  'christ',
  'christian',
  'christianbal',
  'christianslat',
  'christin',
  'christinaappleg',
  'christinaricci',
  'christma',
  'christmas',
  'christmasparti',
  'christmastre',
  'christoph',
  'christopherlambert',
  'christopherlloyd',
  'christophernolan',
  'christopherplumm',
  'christopherwalken',
  'christophwaltz',
  'chrisweitz',
  'chronicl',
  'chuck',
  'church',
  'cia',
  'ciaránhind',
  'cigarettesmok',
  'cillianmurphi',
  'cinema',
  'circl',
  'circu',
  'circuit',
  'circumst',
  'citi',
  'citizen',
  'city',
  'civil',
  'civilian',
  'civilwar',
  'claim',
  'clair',
  'clairedan',
  'claireforlani',
  'clan',
  'clark',
  'clash',
  'class',
  'classdiffer',
  'classic',
  'classmat',
  'classroom',
  'claudevandamm',
  'clay',
  'clean',
  'clear',
  'clerk',
  'clever',
  'client',
  'clients',
  'cliff',
  'climat',
  'climb',
  'clinteastwood',
  'cliveowen',
  'clock',
  'clone',
  'close',
  'closer',
  'cloud',
  'clown',
  'club',
  'clue',
  'clueless',
  'clutch',
  'coach',
  'coast',
  'cocain',
  'code',
  'coffin',
  'cohen',
  'col',
  'cold',
  'coldwar',
  'cole',
  'colin',
  'colinfarrel',
  'colinfirth',
  'collaps',
  'colleagu',
  'collect',
  'collector',
  'colleg',
  'college',
  'collid',
  'collis',
  'colombia',
  'colonel',
  'coloni',
  'color',
  'colorado',
  'coma',
  'combat',
  'combin',
  'come',
  'comeback',
  'comed',
  'comedi',
  'comedian',
  'comedy',
  'comet',
  'comfort',
  'comic',
  'coming',
  'comingofag',
  'comingout',
  'command',
  'commando',
  'commerci',
  'commiss',
  'commit',
  'common',
  'commun',
  'communist',
  'community',
  'compani',
  'companion',
  'company',
  'compet',
  'competit',
  'competition',
  'complet',
  'complex',
  'complic',
  'compos',
  'compuls',
  'comput',
  'computerviru',
  'conan',
  'concern',
  'concert',
  'concoct',
  'condit',
  'condition',
  'conduct',
  'confeder',
  'confess',
  'confid',
  'confin',
  'conflict',
  'confront',
  'confus',
  'congress',
  'conman',
  'connect',
  'connecticut',
  'connel',
  'connor',
  'conquer',
  'consequ',
  'consequences',
  'conserv',
  'consid',
  'conspir',
  'conspiraci',
  'conspiracy',
  'constant',
  'constantli',
  'construct',
  'consum',
  'contact',
  'contain',
  'contemporari',
  'contend',
  'content',
  'contest',
  'continu',
  'contract',
  'contractor',
  'control',
  'controversi',
  'convent',
  'converg',
  'convers',
  'convict',
  'convinc',
  'cook',
  'cool',
  'cooper',
  'cop',
  'cope',
  ...],
 5000)

In [63]:
from sklearn.metrics.pairwise import cosine_similarity

In [64]:
similarity = cosine_similarity(vectors)

In [71]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [66]:
new[new['title'] == 'The Lego Movie'].index[0]

744

In [76]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])[1:6]
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [85]:
recommend('Batman')

Batman & Robin
Batman Begins
Batman Returns
The R.M.

In [86]:
import pickle

In [87]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))